:root {
	--black: #3b434e;
	--gray-light: #ebebeb;
	--gray-dark: #787d85;
	--white: white;
	--primary: #7653fc;
	--primary-hover: #6344df;
	--red: #fc836d;
	--green: #1dc37e;
	--green-light: #c8f8e4;
}

body {
	background: #f5f6f8;
	color: var(--black);
}
